@{
    ViewBag.Title = "Event Page";
}

<h2>EVENT</h2>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.Label("Namn","Namn på event:")
            @Html.TextBox("Name","", new { @class="form-control" })
        </div>
        <div class="form-group">
            @Html.Label("Datum", "Datum:")
            @Html.TextBox("Date", "", new { @class = "form-control"})
        </div>
        <div class="form-group">
            @Html.Label("Adress", "Adress:")
            <input type="text" class="form-control" id="usr">
        </div>
        @Html.Label("Event", "Typ av event:")
        <div class="form-group">
            <select class="selectpicker">
                <option>Sittning</option>
                <option>Mat hos patrik</option>
                <option>Fest</option>
                <option>Lan</option>
            </select>
        </div>

        <div class="form-group">
            @Html.Label("TextArea", "Event beskrivning:")
            @Html.TextArea("TextArea", "", new { @class = "form-control" })
        </div>
        @Html.Label("Ansvarig", "Ansvarig för event:")
       //@Html.DropDownList("eventAnsvarig")
    <div class="form-group">
            <select class="selectpicker" multiple>
                <option>Martin</option>
                <option>Vidar</option>
                <option>Rasmus</option>
                <option>Lille Patrik</option>
            </select>
        </div>
        <button type="submit" class="btn btn-danger">Avbryt</button>
        <button type="submit" class="btn btn-success">Klar</button>
    }
</div>