<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DeCore</title>
    @Scripts.Render("~/bundles/modernizr")

    <!-- Shared Contet css from site.css renders here as bundle -->
    @Styles.Render("~/Content/css")
</head>
<body>
<!-- Imports the Navigation bar-->
@Html.Partial("_Navbar")


@RenderSection("outsideContainer", required: false)

<!-- All pages are rendered inside this container-->
<div class="container page-wrapper">
    @RenderBody()
</div>



<!-- Render script bundle from App_Start > BundleConfig.cs -->
@Scripts.Render("~/bundles/lib")
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>



<!--Must be the last script file-->
@RenderSection("scripts", required: false)
</body>
</html>
